#image {
  img {
    object-fit: cover;
    width: 100%;
  }
}
#donate {
  margin-top: -3px;
  padding-top: 4rem;
  padding-bottom: 18rem;

  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  .wrapper {
    width: 72.5%;
    margin: auto;
    flex-direction: column;
    display: flex;
    gap: 6rem;
    .official-info {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      .official-info__first-item {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 1rem;
        h3 {
          font-weight: 400;
          font-size: 36px;
          line-height: 130%;
        }
        p {
          font-weight: 300;
          font-size: 16px;
          line-height: 120%;
        }
      }
      .official-info__second-item {
        h3 {
          font-weight: 400;
          font-size: 36px;
          line-height: 130%;
          color: #fe9013;
          margin-top: 1rem;
        }
      }
    }
    .pick-wrapper {
      background: rgba(255, 255, 255, 0.52);
      border-radius: 20px;
      .pick-container {
        gap: 6rem;
        display: flex;
        flex-direction: column;
        width: 84%;
        margin: auto;
        padding-top: 4rem;
        padding-bottom: 6.2rem;
        .intro {
          display: flex;
          flex-direction: column;
          gap: 2.1rem;
          margin-top: -1rem;
          h2 {
            font-weight: 400;
            font-size: 48px;
            line-height: 120%;
            text-align: center;
            color: #fe9013;
            margin-left: -1.7rem;
          }
          p {
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #333b41;
          }
        }
        .amount-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6.4rem;
          .amount-number {
            display: flex;
            gap: 1.1rem;
            align-items: center;
            margin-left: -2rem;
            .amount-number_panda {
              display: flex;
              flex-direction: column;
              gap: 1.1rem;
              margin-bottom: -6rem;
              h3 {
                font-weight: 500;
                font-size: 72px;
                line-height: 80%;
                text-align: center;
                text-transform: uppercase;
              }
              p {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                text-align: center;
              }
            }
          }
        }
        .progress-container {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          margin-top: -1rem;
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
          }
          .progress-div {
            // position: relative;
            height: 3.5rem;
            background-color: #72828e;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 2.6rem;
            padding-right: 2.6rem;
            border-radius: 2px;
            label {
              align-items: center;
              input[type="radio"] {
                display: none;
                // visibility: hidden;
                &:checked + .dot {
                  border: 1px solid #f9804b;
                }
              }
            }
            // .outer-circle-one {
            //   // position: absolute;
            //   left: 9px;
            //   transform: scale() ;
            //   width: 4rem;
            //   height: 4rem;
            //   display: flex;
            //   align-items: center;
            //   justify-content: center;
            //   border: 1px solid #fe9013;
            //   border-radius: 50%;
            //   .inner-circle-one {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     width: 2.3rem;
            //     height: 2.3rem;
            //     padding: auto;
            //     border: 1px solid #fe9013;
            //     border-radius: 50%;
            //   }
            // }
            .dot {
              background: #ffee2e;
              width: 1rem;
              height: 1rem;
              border-radius: 50%;
              cursor: pointer;
              position: relative;
              // &:hover {
              //   background-color: #fe9013;
              //   transform: scale(1.8);
              // }
            }
            hr {
              width: 12rem;
              height: 0.7px;
              box-sizing: border-box;
            }
          }
          .dollar-amount {
            display: flex;
            justify-content: space-between;
            padding-right: 3rem;
            margin-left: -0.5rem;
            p {
              font-weight: 500;
              font-size: 26px;
              line-height: 140%;
              text-transform: uppercase;
              color: #333b41;
            }
          }
        }
        .form-container {
          margin-top: -2rem;
          display: flex;
          flex-direction: column;
          gap: 2.5rem;
          align-items: center;
          .another-amount-container {
            display: flex;
            gap: 0;
            align-items: center;
            input[type="number"] {
              background: black;
              &::placeholder {
                color: white;
              }
              color: #e0d8f0;
              padding: 1.6rem 0.9rem;
              width: 21.8rem;
              height: 5.4rem;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              border: 1px solid #ffee2e;
              border-radius: 0.2rem 0 0 0.2rem;
              text-decoration: none;
              outline: none;
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              &:invalid {
                background-color: white;
                border: 1px solid red;
                color: red;
                &::placeholder {
                  color: red;
                }
              }
              &:focus {
                background-color: #fff;
                border: 1px solid #4b9200;
                color: black;
                &::placeholder {
                  color: #4b9200;
                }
                + span {
                  background: white;
                    border: 1px solid #376803 ;
                  border-left: 0;
                  color: #4b9200;
                }
              }
            }
            span {
              color: white;
              background-color: black;
              font-size: large;
              padding: 1.5rem 2rem;
              border: 1px solid #ffee2e;
              border-left: 0;
              border-radius: 0 0.2rem 0.2rem 0;
              margin-left: -0.5rem;
            }
          }

          .radio-items {
            display: flex;
            gap: 5rem;
            margin-left: -1rem;
            .radio {
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              color: #333b41;
              vertical-align: middle;
              position: relative;
              padding-left: 2.5rem;
              cursor: pointer;
              input[type="radio"] {
                display: none;
                &:checked + span {
                  &::after {
                    transform: translate(-50%, -50%) scale(1);
                  }
                }
              }
              span {
                height: 1.6rem;
                width: 1.6rem;
                border-radius: 50%;
                border: 1px solid #fe9013;
                position: absolute;
                left: 0;
                top: 0.35rem;
                &::after {
                  content: "";
                  height: 1rem;
                  width: 1rem;
                  background-color: #fe9013;
                  position: absolute;
                  display: block;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) scale(0);
                  border-radius: 50%;
                }
              }
            }
            // display: flex;
            // gap: 5rem;
            // .radio-items_one,
            // .radio-items_two {
            //   display: flex;
            //   align-items: center;
            //   gap: 1rem;
            //   input[type="radio"] {
            //     border: 1px solid #fe9013;
            //     outline: none;
            //   }
            //   label {
            //     font-weight: 400;
            //     font-size: 16px;
            //     line-height: 140%;
            //     color: #333b41;
            //   }
            // }
          }
          .btn {
            background: linear-gradient(
              113.96deg,
              #f9804b 1.49%,
              #fe9013 101.44%
            );
            border-radius: 25px;
            width: 29.8rem;
            height: 5.4rem;
            font-weight: 500;
            font-size: 16px;
            border: none;
            line-height: 140%;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            margin: auto;
            margin-bottom: 0.5rem;
            &:hover {
              background: #e47209;
              cursor: pointer;
            }
            &:active {
              background: #4b9200;
            }
          }
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #333b41;
          }
        }
      }
    }
  }
  .active {
    color: #f9804b;
  }
}
