#feed {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  padding-top: 6.9rem;
  padding-bottom: 10rem;
  margin-bottom: 14rem;
  opacity: 0.9;
  .wrapper {
    width: 72.5%;
    margin: auto;
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-top: 4.1rem;
    // padding-left: 9.9rem;
    .pick-container {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      .pick-container_intro {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        h2 {
          font-weight: 400;
          font-size: 48px;
          line-height: 120%;
          text-align: center;
          color: #fe9013;
        }
        h5 {
          font-weight: 400;
          font-size: 24px;
          line-height: 120%;
          color: #333b41;
          margin-left: 9.9rem;
        }
      }
      .covid-info-div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 9.9rem;
        h6 {
          font-weight: 500;
          font-size: 16px;
          line-height: 130%;
          color: #333b41;
        }
        p,
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 130%;
          color: #333b41;
        }
        a {
          text-decoration: underline orangered;
        }
      }
    }
    .howitworks-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      h3 {
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #333b41;
        // margin-left: -9.9rem;
      }
      .howitworks-method {
        .green-arrow1,
        .green-arrow2 {
          display: none !important;
        }
        width: 52.5%;
        margin: auto;
        display: flex;
        // align-items: center;
        justify-content: center;
        gap: 3.1rem;
        .arrow-image {
          margin-top: -8rem;
        }
        .howitworks-method_item {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #333b41;
          }
          .image-div {
            width: 16.8rem;
            height: 16.8rem;
            background-color: white;
            padding: auto;
            border: solid 1px orangered;
            border-radius: 5px;
          }
          .one {
            padding-top: 5.4rem;
            padding-left: 3rem;
          }
          .two {
            padding-top: 3.8rem;
            padding-left: 4.1rem;
          }
          .three {
            padding-top: 4.8rem;
            padding-left: 2.2rem;
          }
        }
      }
    }
  }
  .btn {
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 25px;
    width: 29.8rem;
    height: 5.4rem;
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: auto;
    margin-bottom: 6rem;
    &:hover {
      background: #e47209;
      cursor: pointer;
    }
    &:active {
      background: #4b9200;
    }
  }
}
@media screen and (max-width: 1000px) {
  #feed {
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-bottom: 10rem;
    .wrapper {
      width: 94%;
      padding-top: 3rem;
      gap: 4rem;
      .pick-container {
        gap: 2.1rem;
        .pick-container_intro {
          gap: 2rem;
          h5 {
            margin-left: 4.9rem !important;
            padding-top: 1px;
          }
        }
        .covid-info-div {
          padding-left: 4.9rem !important;
          width: 90%;
          .break-hide {
            display: none;
          }
        }
      }
      .howitworks-container {
        .howitworks-method {
          gap: 3rem;
        }
      }
    }
    .btn {
      margin-bottom: 5rem !important;
      margin-top: 3.3rem;
    }
  }
}
@media screen and (max-width: 640px) {
  #feed {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 6rem;
    .wrapper {
      width: 100%;
      padding-top: 1rem;
      gap: 3rem;
      .pick-container {
        h2 {
          font-size: 4.2rem !important;
        }
        .pick-container_intro {
          gap: 1.5rem;
          h5 {
            margin-left: 2rem !important;
            padding-top: 4px;
            width: 96% !important;
            font-size: 22px;
          }
        }
        .covid-info-div {
          padding-left: 2rem !important;
          width: 97%;
        }
      }
      .howitworks-container {
        gap: 2rem;
        .arrow-image {
          display: none;
        }
        .howitworks-method {
          position: relative;
          gap: 4.2rem;
          width: 94%;
          .green-arrow1 {
            display: block !important;
            position: absolute;
            left: 23%;
            top: -1.5rem;
          }
          .green-arrow2 {
            display: block !important;
            position: absolute;
            left: 57.5%;
            top: -1.5rem;
          }
        }
      }
      .btn {
        margin-top: 1rem !important;
        margin-bottom: 6rem !important;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  #feed {
    margin-bottom: 2.9rem ;
    padding-bottom: 2rem !important;
    .wrapper {
      width: 93.75% !important;
      padding-bottom: 0rem !important;
      gap: 2rem !important;
      padding-top: 2rem !important;
      .pick-container {
        .pick-container_intro {
          gap: 0.7rem !important;
          h2 {
            font-size: 24px !important;
            line-height: 120%;
          }
          h5 {
            font-size: 18px !important;
            line-height: 120%;
            margin-left: 0.6rem !important;
            text-align: center;
            width: 95% !important;
          }
        }
        .covid-info-div {
          display: none;
        }
      }
      .btn{
        margin-bottom: 4rem !important ;
        // margin-top: rem !important;
      }
    }
    .howitworks-container {
      gap: 1.8rem !important;
      h3 {
        font-size: 24px !important;
        line-height: 120%;
      }
      .howitworks-method {
        gap: 4rem !important;
        padding-left: 5.7rem;
        flex-direction: column;
        .howitworks-method_item{
          gap: 1rem !important;
          p{
            width: 70%;
          }
        }
        .different-gap{
          margin-top: -1rem;
          p{
            margin-bottom: 0.9rem;
          }
        }
      }
    }

  }
}
