#testimonials {
  .wrapper {
    // margin-top: -2rem;
    width: 72.5%;
    margin: auto;
    h3 {
      text-align: center;
      font-weight: 400;
      font-size: 36px;
      line-height: 130%;
      color: #333b41;
      margin-bottom: 4.7rem;
    }
    .testimonials-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 2.5rem;
      .container-item {
        background: linear-gradient(0deg, #f1f3f2, #f1f3f2);
        padding: 1.6rem;
        overflow: hidden;
        border-style: solid;
        border-width: 2px;
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
        border-color: rgba(243, 169, 248, 0.66);
        border-radius: 20px;
        .author-info {
          display: flex;
          align-items: center;
          gap: 1rem;
          .author-name {
            h6 {
              font-weight: 500;
              font-size: 16px;
              line-height: 120%;
            }
            p {
              font-weight: 300;
              font-size: 15px;
              line-height: 120%;
              color: #bdbdbd;
            }
          }
        }
        p {
          font-weight: 300;
          font-size: 15px;
          line-height: 120%;
          color: #767474;
        }
      }
    }
    .line-scroll-div {
      text-align: center;
      margin-top: 1.5rem;
      input[type="range"] {
        -webkit-appearance: none;
        outline: none;
        overflow: hidden;
        width: 60rem;
        height: 0.5rem;
        border-radius: 30px;
        box-shadow: inset 1px 1px 5px 2px rgb(226, 226, 226);
        margin-top: 1.5rem;
      }

      input[type="range"]:hover::-webkit-slider-thumb {
        background: #fe9013;
        box-shadow: -500px 0 0 500px #fe9013;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        width: 3.8rem;
        height: 5px;
        background: #fe9013;
        border-right: 6px solid #fe9013;
        box-shadow: -500px 0 0 500px #fe9013;
      }

      input[type="range"]:hover {
        border: 1px solid #fe9013;
        outline: #e47209 !important;
        cursor: pointer;
      }
    }
    .btn {
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      border-radius: 4px;
      width: 29.8rem;
      height: 5.4rem;
      font-weight: 500;
      font-size: 16px;
      border: none;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 3.1rem;
      &:hover {
        background: #e47209;
        cursor: pointer;
      }
      &:active {
        background: #4b9200;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #testimonials {
    .wrapper {
      width: 94%;
      h3 {
        margin-bottom: 3rem !important;
      }
      .testimonials-container {
        gap: 3rem !important;
        .container-item{
          width: 293px;
          height: 391px;
          padding-top: 1rem;
        }
        .testimonial-hide-div {
          display: none !important;
        }
      }
      .line-scroll-div{
        margin-left: -1rem;
        margin-top: 0.5rem !important;
        input[type="range"]{
          width: 39rem;
          height: 0.8rem;
        }
        input[type="range"]::-webkit-slider-thumb{
          width: 2.4rem;
        }
      }
      .btn{
        margin-top: 4.7rem;
      }
    }
  }
.bg-div-hide{
  display: none;
}
.bg-div-hide-small{
  display: block !important;
  margin-top: -10rem !important;
}
}

@media screen and (max-width: 640px){
  #testimonials {
    .wrapper {
      .testimonials-container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem !important;
        .container-item{
          width: 100%;
          height: 10.9rem;
          padding-left: 0;
          padding-top: 0;
          .author-info{
            margin-left: 1.2rem;
            margin-top: 1.5rem;
          }
          // .special-item{
          //   margin-top:-0.7rem ;
          // }
          .review{
            margin-left: 1.8rem;
          }
        }
      }
      .line-scroll-div{
        display: none;
      }
      .btn{
        margin-top: 4.1rem !important;
        margin-left: 18rem;
        width: 24rem;
      }
    }
  }
}

@media screen and (max-width: 320px){
  #testimonials{
    .wrapper{
      h3{
        font-size: 24px;
        margin-bottom: 1.8rem !important;
      }
      .btn{
      margin-left: 3rem !important;
      margin-top: 3rem !important;
      }
      .author-info{
        margin-top:0.7rem !important ;
      }
    }

  }
}