#testimonials {
  .wrapper {
    width: 72.5%;
    margin: auto;
    h3 {
      text-align: center;
      font-weight: 400;
      font-size: 36px;
      line-height: 130%;
      color: #333b41;
      margin-bottom: 4.7rem;
    }
    .testimonials-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 3rem;
      .container-item {
        background: linear-gradient(0deg, #f1f3f2, #f1f3f2);
        padding: 1.6rem;
        overflow: hidden;
        border-style: solid;
        border-width: 2px;
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
        border-color:rgba(243, 169, 248, 0.66);
        border-radius: 20px;
        .author-info {
          display: flex;
          align-items: center;
          gap: 1rem;
          .author-name {
            h6 {
              font-weight: 500;
              font-size: 16px;
              line-height: 120%;
            }
            p {
              font-weight: 300;
              font-size: 15px;
              line-height: 120%;
              color: #bdbdbd;
            }
          }
        }
        p {
          font-weight: 300;
          font-size: 15px;
          line-height: 120%;
          color: #767474;
        }
      }
    }
    .line-scroll-div {
      text-align: center;
      margin-top: 2.1rem;
      input[type="range"] {
        -webkit-appearance: none;
        outline: none;
        overflow: hidden;
        width: 60rem;
        height: 0.5rem;
        border-radius: 30px;
        box-shadow: inset 1px 1px 5px 2px rgb(226, 226, 226);
        margin-top: 1.5rem;
     }

     input[type="range"]:hover::-webkit-slider-thumb {
        background: #FE9013;
        box-shadow: -500px 0 0 500px #FE9013;
     }

     input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        width: 3.8rem;
        height: 5px;
        background: #FE9013;
        border-right: 6px solid #FE9013;
        box-shadow: -500px 0 0 500px #FE9013;
     }

     input[type="range"]:hover{
        border: 1px solid #FE9013;
        outline: #E47209 !important;
        cursor:pointer;
     }
    }
    .btn {
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      border-radius: 4px;
      width: 29.8rem;
      height: 5.4rem;
      font-weight: 500;
      font-size: 16px;
      border: none;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 3.1rem;
      &:hover {
        background: #e47209;
        cursor: pointer;
      }
      &:active {
        background: #4b9200;
      }
    }
  }
}
